*{margin:0;padding:0;}
img,fieldset{border:none;}
li{list-style-type:none;}
a{text-decoration:none;}
a:hover{color:purple;}
a.selected{color:purple;}

header, footer, article, nav, section, aside, time, hgroup 
{
    display : block;
}

html, body, header, footer, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td 
{
    border : 0;
    font : 12px/22px Verdana, sans-serif;
    margin : 0;
    outline : 0;
    padding : 0;
}

body
{
    background : #FFFFFF;
    color : #000000;
}

#container{
    margin:auto;
    width:100%;
}

/* Navigation */
nav
{
    background-color: #015293;
    color: #E98202;
    text-align: center;
    /*padding-left: 20px;*/
}

#nav-secondaire{
    padding-left: 40px;
}

nav ul li
{
    display: inline;
    text-transform: uppercase;
    font-family: verdana;
}

nav a 
{
    color: #E98202;
    text-decoration: none;
    text-transform: uppercase;
    font-family: verdana;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: bolder;
}


/* Header */
header#bandeau
{
    /*background : url(../images/ibgbi.jpg) no-repeat center left;
    height : 320px;
    position : relative;*/
    background-image: linear-gradient(#015293, #FFFFFF);
    background-image: -webkit-linear-gradient(#015293, #FFFFFF);
    padding-left: 20px;
}

.logo{
    width: 220px;
}

/* Titres */
h1
{
    font-size: 32px;
    color: #E98202;
    text-decoration: none;
/*  text-transform: uppercase; */
    letter-spacing: -1px;
    text-align: center;
    margin-bottom: 40px;
}

#content{
    padding: 20px 20px;
}

/* Autres */
#small
{
    font-size: 9px;
    font-style: italic;
}

/* Formulaire */
form
{
    padding-left: 40px;
}

/* Footer */
footer
{
}