{% extends "AMiEHomeBundle::layout.html.twig" %}

{% block title "Graphiques" %}

{% block head "Quelques graphiques..." %}
    {% block js %}
		{% if miagistes %}
	

		<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
        <script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
		<script type="text/javascript">
			{{ chart(graphContrat) }}
			{{ chart(graphEmbauche) }}
			{{ chart(graphEntAccEmb) }}
			{{ chart(graphSalaire) }}
		</script>
		{% endif %}
	{% endblock %}


{% block content %}
<div class="row">
	<div class="col-lg-14">
		{% if miagistes %}
        <div id="piechartContrat" style="width: auto; height: 400px; margin: 10px 6px; float: left;"></div>
        <div id="piechartEmbauche" style="width: auto; height: 400px; margin: 10px 6px; float: left"></div>
        <div id="barchartEntAccEmb" style="width: auto; height: 400px; margin: 10px 6px; float: left"></div>
        <div id="splineSalaire" style="width: auto; height: 400px; margin: 10px 6px; float: left"></div>
		{% else %}
			Il n'existe actuellement aucune donnée exploitable.
		{% endif %}
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->
{% endblock %}